.open-tutorial,
.tutorial {
  right: 30px;
  width: 280px;
  color: white;
  position: fixed;
  background-color: #555;
}

.open-tutorial {
  bottom: 15px;
  cursor: pointer;
  padding: 16px 20px;
  max-width: 150px;
}

.tutorial {
  z-index: 5;
  right: 30px;
  bottom: 60px;
  display: none;
  padding: 10px;
  box-sizing: border-box;
  &.open {
    display: block;
  }
  img {
    width: 100%;
  }
  div {
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
  }
}
